<div id="card-tasks">
  <dx-data-grid
    *ngIf="currentTasks"
    #dataGrid
    [dataSource]="dataSource"
    [columnAutoWidth]="true"
    (onRowClick)="rowClick($event)"
    [(focusedRowKey)]="staffCode"
    [allowColumnReordering]="true"
    [focusedRowEnabled]="true"
  >
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>

    <dxo-row-dragging
      [allowReordering]="true"
      [onReorder]="onReorder"
      [showDragIcons]="true"
    ></dxo-row-dragging>

    <dxi-column
      dataField="staffCode"
      caption="Staff Code"
      [hidingPriority]="1"
    ></dxi-column>
    <dxi-column
      dataField="fullName"
      caption="Full Name"
      [hidingPriority]="3"
    ></dxi-column>
    <dxi-column
      caption="Phone"
      dataField="phone"
      [hidingPriority]="2"
    ></dxi-column>
  </dx-data-grid>

  <dx-load-panel
    [visible]="!currentTasks || isLoading"
    [showPane]="false"
    container="#card-tasks"
    [position]="{ of: '#card-tasks' }"
  ></dx-load-panel>


      <emp-panel
    [userId]="staffCode"
    [(isOpened)]="isPanelOpened"
    (isOpenedChange)="onOpenedChange($event)"
    (pinnedChange)="onPinnedChange()"
  >
  </emp-panel>
</div>
